crackstation*
SecLists/
RobotsDisallowed/
statistically-likely-usernames/
assetnote-wordlists/
rockyou.txt.bz2
fuzzdb/
__backup__
last_backup
rockyou.txt
wordlist.txt
100000_passwords.txt
.DS_Store
backup.starter.txt
routes-large.kite
samlists/
trufflehog/
usernames/
starter_backup.txt
an_*
*.swp

